.DS_Store
/client/app/templates/test.html
/client/app/styles/test.styl
/client/app/modules/test.js
/server/node_modules/
/server/data
/server/log
/server/test/controllers/posts_controller_test.js
/server/app/views/posts/
/server/app/views/layouts/posts_layout.ejs
/server/app/helpers/posts_helper.js
/server/app/controllers/posts_controller.js