<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner header">
        <!-- Header goes here -->
    </div>
</div>
<div class="container-fluid content">
    <!-- Content goes here -->
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <li id="menu-gallery">
                    <a href="/">Projects</a>
                </li>
                <li id="menu-users">
                    <a href="users">Users</a>
                </li>
            </ul>
        </div>
    </div>
</div>