<div id="header">
    <!-- Header goes here -->
</div>
<div data-role="content">
    <div class="center" data-role="controlgroup" data-type="horizontal">
        <a href="#" id="reviewed" data-role="button">Reviews</a>
        <a href="#" id="updated" data-role="button">Updates</a>
    </div>
    <div id="gallery"></div>
</div>
<div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
		<ul>
			<li><a href="/" class="ui-btn-active" data-icon="home">Projects</a></li>
			<li><a href="/categories" data-icon="grid">Categories</a></li>
			<li><a href="/teams" data-icon="user">Teams</a></li>
			<li><a href="/settings" data-icon="gear">Settings</a></li>
		</ul>
	</div><!-- /navbar -->
</div>