<form id="login-form">
  <div class="control-group">
    <div class="controls">
      <input type="text" class="span12" id="username" placeholder="Andrew ID">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="password" class="span12" id="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
       <button type="submit" class="btn btn-block btn-primary">Sign in</button>
    </div>
  </div>
</form>