<h3>Description:</h3>
<p class="project-description"><%= project.get('description') %></p>
<p><strong>Version:</strong> <%= project.get('version') %></p>
<p><strong>Updated at:</strong> <%= moment(new Date(project.get('updated_at'))).fromNow().toString("mm:dd") %></p>

<h3>Links:</h3>
<div class="project-link">
    <ul>
        <li><a href="<%= project.get('link').ios || '#' %>">iOs</a></li>
        <li><a href="<%= project.get('link').android || '#' %>">Android</a></li>
    </ul>
</div>

<h3>Team:</h3>
<ul class="nav nav-tabs nav-stacked">
    <% _.forEach(project.get('team'), function(member) { %>
        <li><a href="/users/show/<%= member._id %>"><%= member.username %></a></li>
    <% }); %>
</ul>
<div id="join-button">
    
</div>
<div id="join-requests">
    
</div>

<h3>Reviews:</h3>
<div id="reviews">
    <!-- Reviews go here -->
</div>

<h3>Post a review:</h3>
<div id="add-review">
    <!-- Form goes here -->
</div>