<a href="<%= '/project/show/' + project.id %>">
    <div class="project-title">
        <strong><%= project.get('name') %></strong>
    </div>
    <div class="project-info">
        <p class="project-reviews">
            <strong>Reviews:</strong> <%= project.get('reviews').length || '0' %>
        </p>
        <p class="project-version">
            <strong>Version:</strong> <%= project.get('version') %>
        </p>
        <p class="project-updated-at">
            <strong>Updated:</strong> <%= moment(new Date(project.get('updated_at'))).fromNow().toString("mm:dd") %>
        </p>
    </div>
</a>
