<h1><%= name %></h1>

<h2>Description:</h2>
<p><%= description %></p>

<h2>Links:</h2>
<a href="<%= link.ios || '#' %>">iOS</a>
<a href="<%= link.android || '#' %>">Android</a>

<h2>Version:</h2>
<p><%= version %></p>

<h2>Updated at:</h2>
<p><%= updated_at %></p>

<div id="reviews">
    
</div>
<form id="review-create" action="#" method="post" accept-charset="utf-8">
    <div>
        <label for="comment">Review:</label>
    	<textarea name="comment" id="comment" placeholder="Some useful review"></textarea>
    </div>
    <input id="submit-review" type="submit" value="Post review"></p>
</form>

