<form id="create-project-form" action="#" method="post" accept-charset="utf-8">
    <fieldset>
        <div>
            <label for="name">Name:</label>
        	<input type="text" name="name" id="name" placeholder="Awesome's project" />
        </div>
        <div>
            <label for="desc">Description:</label>
            <textarea name="desc" id="desc" placeholder="A short description of the project"></textarea>
        </div>
        <div>
            <label for="link">Link:</label>
        	<input type="text" name="link" id="link" value="" placeholder="http://example.com" />
        </div>
    </fieldset>
    <button type="submit" name="submit" value="create">Save</button>
</form>