<% if(leftButton) { %>
    <a  href="<%= leftButton.link %>"
    <% if(leftButton.id) { %> id="<%= leftButton.id %>" <%}%>
    class="ui-btn-left" 
    data-icon="<%= leftButton.icon %>" 
    data-theme="<%= leftButton.swatch %>"
    <% for(var attr in leftButton.data) { %> data-<%= attr %>="<%= leftButton.data[attr] %>" <%}%>
    >
        <%= leftButton.text %>
    </a>
<%}%>
<h1><%= title %></h1>
<% if(rightButton) { %>
    <a href="<%= rightButton.link %>"
        <% if(rightButton.id) { %> id="<%= rightButton.id %>" <%}%>
        class="ui-btn-right" 
        data-icon="<%= rightButton.icon %>" 
        data-theme="<%= rightButton.swatch %>"
        <% for(var attr in rightButton.data) { %> data-<%= attr %>="<%= rightButton.data[attr] %>" <%}%>
        >
        <%= rightButton.text %>
    </a>
<%}%>